<% layout('/layouts/boilerplate') -%>

<body>
  <div class="container mt-4 mb-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <h3 class="mb-4 text-center">Create a new listing</h3>
        <form
          class="needs-validation"
          method="POST"
          action="/listings"
          novalidate
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="title" class="form-label">Enter title</label>
            <input
              type="text"
              name="listing[title]"
              placeholder="Add a catchy title"
              class="form-control"
              required
            />
            <div class="valid-feedback">Title looks good</div>
            <div class="invalid-feedback">Title should be valid</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              rows="5"
              name="listing[description]"
              class="form-control"
              required
            ></textarea>
            <div class="invalid-feedback">Description should be valid</div>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input
              type="file"
              name="listing[image]"
              class="form-control"
              required
            />
          </div>

          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="price" class="form-label">Price</label>
              <input
                type="text"
                name="listing[price]"
                placeholder="1200"
                class="form-control"
                required
              />
              <div class="invalid-feedback">Enter correct price</div>
            </div>
            <div class="mb-3 col-md-6">
              <label for="country" class="form-label">Country</label>
              <input
                type="text"
                name="listing[country]"
                placeholder="India"
                class="form-control"
                required
              />
              <div class="invalid-feedback">Please enter the country name</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              name="listing[location]"
              placeholder="New Delhi, India"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter the location</div>
          </div>

          <div class="mb-3">
            <label for="category" class="form-label">Select Category</label>
            <select name="listing[category]" class="form-select" required>
              <option value="">-- Select --</option>
              <option value="room">Room</option>
              <option value="city">City</option>
              <option value="mountain">Mountain</option>
              <option value="castle">Castle</option>
              <option value="pool">Pool</option>
              <option value="camping">Camping</option>
              <option value="beach">Beach</option>
              <option value="snow">Snow</option>
            </select>
            <div class="invalid-feedback">Please select a category</div>
          </div>

          <button class="btn btn-dark mb-3 w-100">Add</button>
        </form>
      </div>
    </div>
  </div>
</body>
